<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/instagraph.css"/>
</head>
<body>

 <div>
    <div class="row">
        <div class="col s12 logoContainer">
            <h1 class="logostyle">Instagraph</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 postsContainer">

          <% if(posts.length > 0) { %>

            <% for(let post of posts) { %>

                <div class="col s4">
                    <div class="col s12 postSmallImageContainer">
                    <img style="width: 100%;" src="/images/<%= post.image %>" />
                </div>
                </div>
    
            <% } %>
          <% } %>  
        </div>
    </div>
 </div>

 <div class="flow"><a href="/posts" class="btn-floating btn-large waves-effect waves-light cyan">
     <i class="material-icons">keyboard_arrow_right</i></a></div>
 

    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>

</body>
</html>