<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/instagraph.css"/>
</head>
<body>

 <div>
    <div class="row">
        <div class="col s12 logoContainer">
            <h1 class="logostyle">Instagraph</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 loginContainer">
            <h3 class="titlestyle">Register</h3>

            <form id="signup_form" action="/signup" method="POST" enctype="multipart/form-data">
              
            <div class="input-field">
                <input placeholder="fullName" id="fullName" name="fullName" type="text">
                <label for="fullName">Full Name</label>
              </div>

            <div class="input-field">
                <input placeholder="Email" id="email" name="email" type="email">
                <label for="email">Email</label>
              </div>

              <div class="input-field">
                <input placeholder="Password" id="password" name="password" type="password">
                <label for="password">Password</label>
              </div>

              <div class="input-field">
                <input id="image" name="image" type="file">
              </div>
            </form>
              <button form="signup_form" class="btn waves-effect btn-large waves-light cyan" type="submit" name="action">SIGNUP
                <i class="material-icons right">send</i>
              </button>
              <br/><br/><br/>
              <a href="/">Back to login</a>
        </div>
    </div>
 </div>

    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
</body>
</html>