.logoContainer {
    background: #00bcd4;
    text-align: center;
}
.loginContainer {
    padding: 100px 50px !important;
    text-align: center;
}
.postsContainer {
    padding: 20px !important;
}
h1.logostyle {
    font-family: 'Lobster', cursive;
    color: #ffffff;
    padding: 0px;
    margin:20px 0;
    font-size: 40px;
}
h3.titlestyle {
    font-family: 'Lobster', cursive;
    color: #00bcd4;
    padding: 0px;
    margin:0 0 50px 0;
    font-size: 30px;
}
.flow {
    position: fixed; 
    bottom: 20px;
    right: 20px;   
}
.profileImageContainer {
    height: 70;
    text-align: center;
}
.profileNameContainer {
    height: 70;
    text-align: left;
    padding: 7px 10px !important;
}
p.profileText {
    color: #000000;
    padding: 0px;
    margin:0px;
    font-size: 15px;
    font-weight: 600;
}
p.profileDateText {
    color: #999;
    padding: 0px;
    margin:0px;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
}
.imageContainer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.postImageContainer {
    height: 500px;
    overflow: hidden;
}
.row .col{padding: 0px;}

.postSmallImageContainer {
    overflow: hidden;
    padding: 2px !important;
    height: 150px;
}